body{
    font-family: raleway;
}
.logo{
    margin-left: 10px;
}

/*Intro */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    display: flex;
    list-style: none;
}
nav li{
    display: flex;
    margin-left: 2em;
}



a{
    text-decoration: none;
    color: mediumblue;
    }

.search{
    height: 2em;
}

.filters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 2em;
    width: 100%;
margin-inline-end: 450px;
}

.filters h4{
    margin: 0 2rem 1rem 0;
    display: flex;
    align-items: center;
}

.filters div{
    display: flex;
    align-items: center;
    margin-right: 2rem;
    border: 2px solid #d9d9d9;
    border-radius: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
    padding-right: 1rem;
}

.filters i{
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2px;
    color: #0065FC;
    margin-right: 1rem;

}

.filtres{
    display: flex;
    align-items: center;

}

.info {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    align-items: center;
    width: 445px;
    margin-top: 1rem;
}
 




.trio {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin-left: 1px;
  width: 100%;
}
.populaire{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-left: 1px;
    width: 100%; 
}

.headerr{
    padding-left: 3%;
}
.headerrr{
    padding-left: 8%;
}

.Logements{
    background-color:#f2f2f2d7;
    width: 64%;
    border-radius: 30px ;
    height: 632px;
}

.triooo{
    display: flex;
    flex-direction: column;
}
.more{
    background-color:#f2f2f2d7;
    width: 35%;
    height: 632px;
    position: relative;
    border-radius: 25px;
    margin-left: 3%;
}

#marseille{
    display: flex;
    flex-direction: row;
    border-radius: 20px;
}


}.vp{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-left: 80px;
    background-color: ghostwhite;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.vpp{
    object-fit: cover 
    padding: 5px;
  width: 150px;
  border-radius: 20px;  
}

.zooloo{
    display: flex;
    width: 13%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 20px;
}
.remontada{
    display: flex;
}

.hotels{
    display: flex;
    flex-direction: column;
    width: 91%;
    height: 228px;
    padding: 10px;
    background-color: ghostwhite;
    border-radius: 8px;
    margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}

.picpic{
    height: 120px;
    border-radius: 8px;
}
.textoo{
    height: 20px;
}

.pic{
    height: 206px;
    background-image: url(./images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
background-size: cover;
border-top-left-radius: 10px;
border-top-right-radius: 10px;

}
.picb{
    height: 206px;
    background-image: url(./images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
background-size: cover;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}

.picc{
    height: 206px;
    background-image: url(./images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg);
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.picd{
    height: 206px;
    background-image: url(./images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
    background-size: cover;
    border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
.pice{
    height: 206px;
    background-image: url(./images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.picf{
    height: 206px;
    background-image: url(./images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
    background-size: cover;
    border-top-left-radius: 10px;
border-top-right-radius: 10px;
}

.pictures{
    padding-left: 2%;
    padding-right: 1%;
    height: 682px;
}

.name{
    height: 30px;
}

.best{
    display: flex;
    flex-direction: row;
    background-color: ghostwhite;
    border-radius: 8px;
    margin: 6px;
    padding: 10px;
    height: 153px;
    width: 340px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.rightpic{
    height: 155px;
    width: 174px;
    background-image: url(./images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
    background-size: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 1%;
}

.rightpicb{
    height: 155px;
    width: 174px;
    background-image: url(./images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg);
    background-size: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 1%;
}

.rightpicc{
    height: 155px;
    width: 174px;
    background-image: url(./images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
    background-size: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 1%;
}

.righttext{
    display: flex;
    flex-direction: column;
    padding-left: 6px;
    width: 209px;
}

.activities{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 486px;

}
.picpicpic{
    height: 400px;
    background-image: url(./images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
    background-size: cover;
    border-radius: 10px;
}

.picpicpic1{
    height: 400px;
    background-image: url(./images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
    background-size: cover;
    border-radius: 10px;
}

.low{
    height: 445px;
    width: 20%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 10px;
}

.low1{
    height: 445px;
    border-radius: 10px
}
.low2{
    height: 445px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 10px;
    width: 20%;
}

.low3{
    height: 445px;
    border-radius: 10px
}

.haut{
    height: 246px;
    width: 245px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.haut1{
    height: 199px;
    width: 245px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.bas{
    height: 190px;
    width: 245px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.bas1{
    height: 239px;
    width: 245px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.picous{
    height: 197px;
    background-image: url(./images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
    background-size: cover;
    border-radius: 10px;
}
.picous1{
    height: 144px;
    background-image: url(./images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
    background-size: cover;
    border-radius: 10px;  
}

.picous2{
    height: 153px;
    background-image: url(./images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg);
    background-size: cover;
    border-radius: 10px;
}

.picous3{
    height: 191px;
    background-image: url(./images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
    background-size: cover;
    border-radius: 10px;
}

#bottom{
    display: flex;
    flex-direction: column;
}
footer{
    display: flex;
    flex-direction: row;
    background-color:#f2f2f2d7;
}

.propos {
    margin-right: 250px;
}

.nos{
    margin-right: 250px;
}
