html {
    font-family: Raleway;
}

.container {
    margin: 1em;
}

h2{
    font-size: 2em;
}

h4{
    font-weight: 700;
}

.empty{
    color: #d9d9d9;
}

.full{
        color: #0065FC;
}

.fa-chart-line{
    color: black;
}

/*Intro */

.yo{
    display: none;
}

.navigation {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }

a{
    text-decoration: none;
    color: black;
}

.navigation .navbar {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }

.navigation .navbar a {
    text-align: center;
    padding: 1em;
    color: black;
    border-top: 3px solid #f2f2f2;;
  }
.navigation .navbar a:hover {
    font-weight: 600;
    color: #0065fc;
    border-top: 3px solid #0065fc;
  }

  

.navigation a#signing {
    color: #0065fc;
    font-weight: bold;
  }


.Intro h2{
    margin-bottom: -10px;
}

.search{
    margin-bottom: 22px;
    display: inline-flex;
    max-width: 100%;
    overflow: auto;
}

.search .fa-map-marker-alt{
    background-color: #F2F2F2;
    padding: 1rem 1.25rem;
    border-radius: 1rem 0 0 1rem;
    text-align: center;
}

.search input{
    border-right: none;
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    padding: 0 1.5rem;
    box-sizing: border-box;
    width: 14rem;
    font-size: 1rem;
    font-weight: bold;
    font-family: "Raleway", "Sans serif";
}

.search button{
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0 1rem 1rem 0;
    padding: 0 1.5rem;
    font-family: "Raleway", "Sans serif";
    font-size: 1rem;
    cursor: pointer;
}
.filters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin-inline-end: 450px;
}

.filters h3{
    margin: 0px 10px 19px 0px
}


.filtersmore{
    display: flex;
    align-items: center;
    margin-right: 2rem;
    border: 2px solid #d9d9d9;
    border-radius: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
    padding-right: 1rem;
    cursor: pointer;
}

.filtersicon{
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    min-height: 3.5rem;
    min-width: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2px;
}

.filtersicon .fas{
    color: blue;
}

.filterstext{
    margin: 0 1rem;
}

.filters div:hover{
    background-color: #e6effd;
}

.info{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.info i{
    height: 2rem;
    width: 2rem;
    min-height: 2rem;
    min-width: 2rem;
    border: solid 1px #d9d9d9;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    color: #0065FC;
}

.host{
    display: grid;
    grid-template-columns: 6fr 3fr;
    column-gap: 25px;
}

/*Main*/

.main{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 2em;
    background-color: #f2f2f2;
    border-radius: 33px;
    padding: 24px;
    column-gap: 25px;
    row-gap: 25px;
}
.main header{
    grid-column: 1/-1;
    grid-template-rows: 120px 120px;
}
.main article, .popular article{
    padding: 1px;
    background-color: white;
    box-sizing: border-box;
    height: 92%;
    border-radius: 10px;
}
article{
    display: block;
    box-shadow: 0 0 15px rgb(167 161 161)
}

article figure{
    padding: 4px;
}

.textwrap{
    margin-bottom: 13px;
    margin-top: -14px;
    padding: 9px;
}

header{display: block;}

main a{
    color: black;
}

.popular img, .main img{
    height: 7em;
   max-width: 100%;
   width: 100%;
    object-fit: cover;
}

.main img{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.popular img{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.main h3 {
    margin: 0px 0px 0px 0px;

}

.main h4{
    margin: 5px;
}

.main p{
    font-size: 14px;
    margin: 8px 0px 1px 5px;
}
.main span{
 margin: 0px 0px 0px 5px;
}

figure{
    display: block;
    margin: 0;
}

/*Aside*/

.popular{
    display: grid;
    grid-template-rows: auto repeat(3,1fr);
    row-gap: 2rem;
background-color: #f2f2f2;
border-radius: 33px;
padding: 24px;
column-gap: 25px;
row-gap: 25px;
}

.popular header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.popular figure{
    max-width: 33%;
    min-width: 33%;
    width: 33%;
    margin: 0;
    position: relative;
    min-height: 100%;
}

.popular img {
    position: absolute;
    width: 100%;
    height: 89%;
    object-fit: cover;
}

.flextext{
    display: flex;
    flex-direction: column;
}

.popular article{
    display: flex;
    flex-direction: row;
}

.popular header{
    margin: -18px 0px -20px 0px;
}

.popular h4{
    margin: 6px 0px -16px 9px;
}

.popular p{
    margin-left: 9px;
}

.popular span{
    margin: 28px 0px 0px 9px;
}


/*Activities*/

.activities{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto 120px 15px 40px 15px 100px;
    column-gap: 2em;
    border-radius: 33px;
    padding: 24px;
    column-gap: 25px;
    row-gap: 25px;
}

.activities a{
    padding: 1px;
    background-color: white;
    box-shadow: 0 0 15px rgb(167, 161, 161);
    box-sizing: border-box;
    height: 100%;
    border-radius: 10px;
}

.activities header{
    grid-column: 1/-1;
}

.activities img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

}

.activities h3{
    margin-bottom: 0px;
}

.activities h4{
    margin-left: 6px;
}

#port{
    grid-row: 2/7;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
}

#pomegues{
    grid-row: 2/5;
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
}

#calanques{
    grid-row: 2/7;
    grid-column: 3/4;
    display: flex;
    flex-direction: column;
}

#dame{
    grid-column: 4/5;
    grid-row: 2/4;
    display: flex;
    flex-direction: column;
}

#frioul{
    grid-column: 2/3;
    grid-row: 5/7;
    display: flex;
    flex-direction: column;
}

#longchamp{
grid-column: 4/5;
grid-row: 4/7;
display: flex;
flex-direction: column;
}


.pic{
    position: relative;
    flex: 1;
}

/*Footer*/

footer{
    display: flex;
   flex-flow: row wrap;
    justify-content: space-around;
    background-color: #f2f2f2;
    margin-top: 26px;
    margin-left: -5em;
}

footer div{
    display: block;
    padding: 2em;
}

footer div p:first-child{
    font-weight: 700;
}

/*Media Queries*/

@media all and (max-device-width: 480px)
{
    body{
        margin: 0px;
    }

    h2{
        font-size: 21px;
    }

    .search button{
        display: none;
    }

.yo{
    display: flex;
    border-radius: 10px;
    background-color:#0065FC;
    padding: 1rem 1.25rem;
    text-align: center;
}

.fa-search{
    color: white;
}

    .navigation {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
      }

      .navigation .navbar {
        display: flex;
        width: 100%;
        order: 1;
      }
      .navigation .navbar a {
        text-align: center;
        width: 50vw;
        color: black;
        transition: border 0.5s ease;
      }
      .navigation .navbar a:hover {
        font-weight: 600;
        color: #0065fc;
       
      }
      .navigation a#igning {
        color: #0065fc;
        font-weight: bold;
      }
    

    #banner{
        margin: 7px;
    }

.search input{
    width: 15rem;
}

    .filters h4 {
        margin: 0px 9rem 1rem 9px;
        display: flex;
        align-items: center;
    }
    #host{
        display: flex;
        flex-direction: column-reverse;
    }

    .main{
        display: flex;
        flex-direction: column;
        background-color: white;
    }

.flextext{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0px;
    margin-top: 4px;
    margin-bottom: 10px;
}

.popular figure{
    max-width: 43%;
    min-width: 33%;
    width: 71%;
    margin: 0;
    position: relative;
    min-height: 100%;
} 

.main article{
    background-color: white;
    box-sizing: border-box;
    height: 92%;
    border-radius: 10px;
    padding: 0px;
}

    .activities{
        grid-template-rows: auto repeat(6, 12em);
    }
    
    #port{
        grid-row: 2;
        grid-column: 1/-1;
    }

#pomegues{
    grid-row: 3;
    grid-column: 1/-1;
}
#calanques{
    grid-row: 4;
    grid-column: 1/-1;
  
}

#dame{
    grid-column:1/-1 ;
    grid-row: 5;
}

#frioul{
    grid-column: 1/-1;
    grid-row: 6;

}

#longchamp{
grid-column: 1/-1;
grid-row: 7;
}

footer{ 
    padding: 2em;
    display: flex;
    flex-flow: column;
    background-color: #f2f2f2;
    margin-top: 26px;
    margin-left: 0em;
}

footer div{
    padding: 0;
}
}
@media all and (max-device-width: 768px)
{
    body{
        margin: 0px;
    }

    h2{
        font-size: 21px;
    }

    .search button{
        display: none;
    }

.yo{
    display: flex;
    border-radius: 10px;
    background-color:#0065FC;
    padding: 1rem 1.25rem;
    text-align: center;
}

.fa-search{
    color: white;
}



    .navigation {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
      }

      .navigation .navbar {
        display: flex;
        width: 100%;
        order: 1;
      }
      .navigation .navbar a {
        text-align: center;
        width: 50vw;
        color: black;
        transition: border 0.5s ease;
      }
      .navigation .navbar a:hover {
        font-weight: 600;
        color: #0065fc;
       
      }
      .navigation a#igning {
        color: #0065fc;
        font-weight: bold;
      }
    

    #banner{
        margin: 7px;
    }

.search input{
    width: 15rem;
}

    .filters h4 {
        margin: 0px 9rem 1rem 9px;
        display: flex;
        align-items: center;
    }
    #host{
        display: flex;
        flex-direction: column-reverse;
    }

    .main{
        display: flex;
        flex-direction: column;
        background-color: white;
    }

   

    .activities{
        grid-template-rows: auto repeat(6, 12em);
    }
    
    #port{
        grid-row: 2;
        grid-column: 1/-1;
    }

#pomegues{
    grid-row: 3;
    grid-column: 1/-1;
}
#calanques{
    grid-row: 4;
    grid-column: 1/-1;
  
}

#dame{
    grid-column:1/-1 ;
    grid-row: 5;
}

#frioul{
    grid-column: 1/-1;
    grid-row: 6;

}

#longchamp{
grid-column: 1/-1;
grid-row: 7;
}

footer{ 
    padding: 2em;
    display: flex;
    flex-flow: column;
    background-color: #f2f2f2;
    margin-top: 26px;
    margin-left: 0em;
}

footer div{
    padding: 0;
}

}